<% if diet_type == "vegetarian" %>
  <span class="badge badge--veg"><span class="badge__dot"></span>Veg</span>
<% elsif diet_type == "non_vegetarian" %>
  <span class="badge badge--non-veg"><span class="badge__dot"></span>Non-veg</span>
<% elsif diet_type == "eggetarian" %>
  <span class="badge badge--egg"><span class="badge__dot"></span>Egg</span>
<% end %>
