<h1>
  List of all recipe ingredients
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new recipe ingredient
    </h2>
  </header>

  <form action="/insert_recipe_ingredient" method="post">
    <div>
      <label for="recipe_id_box">
        Recipe
      </label>

      <input type="text" id="recipe_id_box" name="query_recipe_id">
    </div>

    <div>
      <label for="component_id_box">
        Component
      </label>

      <input type="text" id="component_id_box" name="query_component_id">
    </div>

    <button type="submit">
      Create recipe ingredient
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_recipe_ingredients.each do |a_recipe_ingredient| %>
      <li>
        <a href="/recipe_ingredients/<%= a_recipe_ingredient.id %>">
          Recipe ingredient #<%= a_recipe_ingredient.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
